.container{
    background-color: rgb(255, 102, 0);
    color: white;
    padding: 100px;
    text-align: center;
}
h1{
    color: white;  
    font-size: 60px;   
}
.search{
    max-width: 100%;
    margin: 60px;
}
input{
    width: 30%;
    padding: 18px 12px;
    border-radius: 6px 0px 0px 6px;
    border-style: none;
    box-sizing: border-box;
}
select{    
    width: 10%;
    height: 100%;
    box-sizing: border-box;
    padding: 18px 12px;
    border-color: rgb(230, 225, 225);
    background-color: rgb(230, 225, 225);
    color: rgb(187, 182, 182);
    text-align: center;
    -webkit-appearance: none;
    font-family: 'FontAwesome', 'Second Font name';       
}
.fa-caret-down{
    color: rgb(0, 0, 0);
}
.fa-search{
    background-color: black;
    color: white;
    padding: 18px 18px;
    border-collapse: collapse;
    border-radius: 0px 6px 6px 0px;
    border-style: none;
    cursor: pointer;
}
::placeholder {  
    opacity: .35;
}