<div class="container-1">
    <div class="child-1">
        <h4>Sign up and </h4>
        <h4>get free content every week.</h4>
        <input placeholder="Enter your email...">
        <button >Sign Up</button>
    </div>
    <div class="child-2">
        <h4>Browse by categories</h4>
        <div class="list">
            <ul>
                <a href="#"><li>Graphics</li></a>
                <a href="#"><li>PSDs</li></a>
                <a href="#"><li>Icons</li></a>
                <a href="#"><li>Templates</li></a>
                <a href="#"><li>Themes</li></a>
            </ul>
            <ul>
                <a href="#"><li>Addons</li></a>
                <a href="#"><li>Fonts</li></a>
                <a href="#"><li>Textures</li></a>
                <a href="#"><li>Patterns</li></a>
                <a href="#"><li>Backgrounds</li></a>
            </ul>
            <ul>
                <a href="#"><li>Buttons</li></a>
                <a href="#"><li>Forms</li></a>
                <a href="#"><li>GUI</li></a>
                <a href="#"><li>Navigation</li></a>
                <a href="#"><li>UI Kits</li></a>
            </ul>
            <ul>
                <a href="#"><li>Inforraphics</li></a>
                <a href="#"><li>Graphs</li></a>
                <a href="#"><li>Logos</li></a>
                <a href="#"><li>Vectors</li></a>
                <a href="#"><li>Business Cards</li></a>
            </ul>
        </div>
    </div>    
</div>
<div class="container-2">
    <div class="child-3">
        <h4>Affiliates / Contributors / Press/Media / Careers / About / Contact</h4>
        <p class="copy">Copyright &copy; 2018 Amardeep All rights reserved</p>
    </div>
    <div class="child-4">
        <a href="#"><i class="fa fa-facebook fa-sm"></i></a>
        <a href="#"><i class="fa fa-twitter fa-sm"></i></a>
        <a href="#"><i class="fa fa-google-plus fa-sm"></i></a>
        <a href="#"><i class="fa fa-wifi fa-sm"></i></a>
    </div>    
</div>
